
/*div { border: 1px dotted;}*/

section {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}
section#contact {
    padding-top: 30px;
    margin-bottom: 100px;
}


.header-contain .title h1 {
 font-weight: normal;
    margin: 10px;
}

.header-contain .title h2 {
    font-weight: normal;
    margin: 10px;
}

@media(min-width: 700px) {
    section {
        padding-left: 20%;
        padding-right: 20%;
    }

}


.thank_you {
    display: none;
}

body {
    background-color: #E8EBED;
    margin: 0 auto;
    padding: 0;
    max-width: 1300px;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.banner {
    font-size: 15px;
    color: #444;
    margin-left: 35px;
    text-shadow: 0px 2px 0px white;
}

.navbar {
    width: 100%;
    max-width: 1300px;
    background-color: white;
    padding: 0;
    position: fixed;
    z-index: 4;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

.nav {
    display: flex;
    float: right;
    margin-left: auto;
    margin-right: 35px;
    z-index: 5;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-flex;
    align-items: center;
    margin-left: 40px;

}

nav a, .banner a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    font-size: 15px;

}

nav .icon {
    display: none;
}

#header {
    overflow: hidden;
}


.header-contain {
    position: relative;
    height: 350px;
    background-image: url('./asset/renate_header.jpg');
    background-repeat: no-repeat;
    background-position: 80%;
    background-color: #83838b;
    margin-top: 56px;
    background-size: contain;
}

.title {
    position: absolute;
    color: white;
    top: 30%;
    left: 10%;
    font-style: normal;
    text-align: center;
}

.name {
    font-weight: 400;
    font-size: 48px;
}

.job {
    font-size: 22px;
}


#medient, #patienten {
    /*background-image: url('./asset/background2.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;

}

#medient:before, #patienten:before {
    content: "";
    background-image: url('./asset/background2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 113%;
    z-index: -1;
}


.section-img {
    /*border: 4px solid red;*/
    /*margin-right: auto;*/
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    margin-top: 50px;
    background: url('./asset/background4.png') no-repeat center;
    background-size: cover;
    background-origin: border-box;
}

.form-container {

    padding: 0 20px;
}

.form-container h1 {
    text-align: center;
    font-size: 40px;
}

.form {
    max-width: 540px;
    margin: 25px auto;
    background-color: white;
    padding: 55px 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.form-inner {
    display: flex;
}

.input-fields {
    flex: 1;
    flex-direction: column;
    display: flex;
    margin: 5px;
}

.input-fields .msg {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.input-fields .input, .msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #444;
    padding: 10px;
    color: #444;
    line-height: 25px;
    font-size: 15px;
}

.message {
    font-size: 15px;
    color: #444;
}

.msg textarea {
    height: 165px;
}

::-webkit-input-placeholder {
    color: #444;
}

.btn {
    margin-top: 15px;
    background-color: #84abc6;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    border: 0px solid;
    border-radius: 3px;
    color: white;
}

#footer {

    font-size: 12px;
    position: relative;
    background-color: black;
}

.footer-contain, .footer-contain p, .footer-contain a {
    color: #757575;
}


.footer-script {
    margin-top: 20px;
}

.footer-contain {
    display: flex;
    bottom: 0;
    left: 0;
    padding: 3%;
}


.footer-contain .col {
    flex: 1;
    margin-right: 20px;
}


.cross-line {

    width: 90px;
    position: relative;
    top: -35px;
    border: 2px solid black;
    background-color: black;
}

.cross-line2 {
    width: 90px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: black;
}

.close-icon {
    display: none;
}

#footer .links a {
    color: white;
    font-size: 16px;
    line-height: 2em;
}

@media screen and (max-width: 1250px) {
    .name {
        font-size: 38px;
    }

    .job {
        font-size: 22px;
    }

    .form {
        flex-direction: column;
        margin-top: 25px;

    }


    .form-inner {
        flex-direction: column;
    }

    .msg textarea {
        height: 80px;
    }

    .btn {
        display: block;
        /* margin-top: 15px; */
    }
}

@media screen and (max-width: 900px) {


    .header-contain {
        margin-top: 0;
    }

    .title {
        position: absolute;
        color: white;
        top: 90px;
        left: 20px;
        transform: translate(0%, 0%);
        font-style: normal;
        text-align: left;
        width: 220px;
    }

    /* .name { display: none;}
    .job{ display: none;} */
    .close-icon {
        display: none;
    }

    nav .icon {
        width: 25px !important;
        font-size: 25px;
        display: block;
        position: fixed;
        right: 30px;
        top: 0;
    }

    .nav {
        margin-right: 0 !important;
    }

    .navbar {
        background-color: transparent;
    }

    .banner {
        display: none;
    }

    /* .nav ul{display: none;} */
    .navbar a {
        display: none;
    }

    .navbar a.icon {
        font-size: 25px;
        float: left;
        display: block;
        position: fixed;
        text-align: right;
    }

    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .close-icon {
        color: white;
        font-size: 25px;
        display: block;
        position: fixed;
        right: 25px;
        top: 0;
        text-align: right;
        width: 22px;
    }

    .navbar.responsive .icon {
        display: none;
    }

    .navbar.responsive nav a {
        float: none;
        display: block;
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        line-height: 60px;
        color: white;
    }

    .navbar.responsive nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #83838B;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    }

    .navbar.responsive nav ul {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-left: 0;
    }

    .cross-line {
        width: 90px !important;
        position: relative;
        top: -15px;
    }





    .section-img {
        margin-right: auto;
    }

    #medient {
        height: fit-content;
        background-position: center;
    }

    #patienten {
        height: fit-content;
        background-position: center;
    }

    .footer-contain {
        display: block;
    }

}

@media (max-width: 560px) {

    #header {
        /*overflow: auto;*/
    }

    .header-contain {
        background-size: 100%;
        background-position: top;
        height: 100vw;
    }

    .header-contain .title {
        width: 100%;
        bottom: 0;
        top: auto;
        left: 0;
        background-color: #83838b;
    }

    .header-contain .title h1 {
        font-size: 30px;

        text-align: center;
    }

    .header-contain .title h2 {
        font-size: 20px;

        text-align: center;
    }




}


#openMobileNavi_btn {
    background-color: transparent;
    border: 0;
}

#openMobileNavi_btn svg {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

#closeMobileNavi_btn {
    margin-top: 10px;
}


#impressum {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2b2b2b;
    z-index: 10;
    padding: 20px;
    overflow: auto;
    color: white;
    font-size: 14px;
}

#impressum p, #impressum table {
    max-width: 800px;
}

#impressum a {
    color: white;
}


#impressum td {
    background-color: #424242;

}

#impressum .close {
    padding: 12px;
    border: 1px solid white;
    float: right;
    margin-right: 40px;
    text-decoration: none;

}

@media (max-width: 500px) {
    #impressum .close {

        float: left;
        margin-bottom: 20px;
        display: block;
        width: 80%;
    }
}
